# Python
__pycache__/
*.pyc
.venv/
.env
# Notebooks
.ipynb_checkpoints/
# Artifacts & data
artifacts/
data/processed/
# OS
.DS_Store
# Environments
*.egg-info/
dist/
build/
# IDE
.vscode/
.idea/
# Virtualenv
venv/
*.venv

.quarto/
notebooks/out/
